.home-page-wrapper {
  width: 100%;
  height: calc(100svh - 500px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#sanjog-gaihre-title {
  text-transform: uppercase;
  letter-spacing: 1em;
}
.about-wrapper {
  max-width: 1280px;
  padding: 0 128px;
}

.about-wrapper h2 {
  text-align: center;
}

.about-wrapper p {
  text-align: center;
}

.infos-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.infos-wrapper p {
  margin: 0;
}
